<img src="\assets\image\home9.jpeg" name="aboutme" class="widthimage">
<!-- <h3 class="media-heading"> {{ nameEn }} <small></small></h3> -->

<h3 class="text-dark">สินค้าชุมชน</h3>
<p class="text-dark">สด ใหม่ ไร้สารตกค้าง</p>


<div class="container">
  <div class="row">
    <div class="col-xl-3">
      <div class="card" style="width: 18rem;">
        <img src="\assets\image\m.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">ส้ม สดใหม่</p>
          <a href="#" class="btn btn-primary">สั่งซื้อ</a>

        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card" style="width: 18rem;">
        <img src="\assets\image\m.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">ส้ม สดใหม่</p>
          <a href="#" class="btn btn-primary">สั่งซื้อ</a>

        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card" style="width: 18rem;">
        <img src="\assets\image\m.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">ส้ม สดใหม่</p>
          <a href="#" class="btn btn-primary">สั่งซื้อ</a>

        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card" style="width: 18rem;">
        <img src="\assets\image\m.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">ส้ม สดใหม่</p>
          <a href="#" class="btn btn-primary">สั่งซื้อ</a>

        </div>
      </div>
    </div>

    <div class="col-xl-3">
      <div class="card" style="width: 18rem;">
        <img src="\assets\image\m.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">ส้ม สดใหม่</p>
          <a href="#" class="btn btn-primary">สั่งซื้อ</a>

        </div>
      </div>
    </div>
    <br>



  </div>
</div>